In [ ]:
a = 3
b = 2
sum = a+b
print(sum)

5

In [ ]:
type(sum)

int

In [ ]:
string = "string"
type(string)

str

In [ ]:
age = int(input("Enter age: "))
if age >= 18:
  print("You can vote")
else:
  print("You can't vote")

Enter age: 18
You can vote

In [ ]:
a = 3
b = 4
c = 5
if a > b:
  if a > c:
    print("a is bigger")
  else:
    print("c is bigger")
else:
  if b > c:
    print("b is bigger")
  else:
    print("c is bigger")

c is bigger

In [ ]:
for i in range(50, -1, -2):
  print(i, ",")

In [ ]:
array = [1, 2, 3, 4, 5, 6, 7, 8, 9]
array2 = []
for i in range(len(array)-1, -1, -1):
  array2.append(array[i])

for n in array2:
  print(n)

9
8
7
6
5
4
3
2
1

In [ ]:
array = [1, 2, 3, 4, 5, 6, 7, 8, 9]
array[::-1]
string = "string"
string[::-1]

'gnirts'

In [ ]:
array = [1, 2, 3, 4, 5, 6, 7, 10, 8]
max = array[0]
second_max = 0
for n in array:
  if n > max:
    second_max = max
    max = n
  elif n > second_max:
    second_max = n

second_max

7

In [ ]:
def get_second_max(array):
  max = array[0]
  second_max = 0
  for n in array:
    if n > max:
      second_max = max
      max = n
    elif n > second_max:
      second_max = n
  return second_max

second_max = get_second_max(array)
print(second_max)

8

In [1]:
word = "hello"
s = set(word)
array = list(s)
print(len(array))

4

In [3]:
l = [2, 4, 5, 6, 89, 2, 1, 4, 5, 6]
hasFive = False
for n in l:
  if n == 5:
    hasFive = True
    break

if hasFive:
  print("There is a five")
else:
  print("There is no five")

There is a five

In [15]:
import math

In [23]:
array = [1, 2, 5, 32, 33, 50, 100]
def binary_search(array, num, left, right):
  if left <= right:
    mid = left + (right-left) // 2
    if array[mid] == num:
      return mid
    if num < array[mid]:
      return binary_search(array, num, left, mid-1)
    if num > array[mid]:
      return binary_search(array, num, mid+1, right)
  else:
    return -1

binary_search(array, 5, 0, len(array)-1)
math.log2(1000000000000000)

49.82892142331043

In [26]:
s = set([2, 3, 4, 5, 6, 2, 4, 2, 2])
if 5 in s:
  print("5 is in the set")
else:
  print("5 isnt in the set")

5 is in the set

In [27]:
import random
import time

In [57]:
random_integers = [random.randint(1, 100) for _ in range(50000000)]
random_integers.append(101)

In [59]:
# Value to search for
target_value = 101

# Start measuring time for search
start_time = time.time()

# Check if the target value is in the list
if target_value in random_integers:
  search_time = time.time() - start_time
  print(f"Target value {target_value}, time: {search_time}")

#0.01469
#0.083
#0.16696
#0.33557
#0.518

Target value 101, time: 0.45842814445495605

In [58]:
# Value to search for
target_value = 101

# Start measuring time for search
random_integers_set = set(random_integers)
start_time = time.time()

# Check if the target value is in the list
if target_value in random_integers_set:
  search_time = time.time() - start_time
  print(f"Target value {target_value}, time: {search_time}")

Target value 101, time: 9.202957153320312e-05

In [1]:
#1. word frequency counter
string = "hello world hello"
dictionary = {}

def word_frequency_counter(string):
  dictionary = {}
  array = string.split(" ")
  for s in array:
    if s in dictionary:
      dictionary[s] += 1
    else:
      dictionary[s] = 1
  return dictionary

dictionary = word_frequency_counter(string)
print(dictionary)

{'hello': 2, 'world': 1}

In [2]:
#2. dictionary merger
dictionary1 = {'a': 1, 'b': 2}
dictionary2 = {'b': 3, 'c': 4}

def merge_dictionaries(dictionary1, dictionary2):
  for s in dictionary2.keys():
    if s in dictionary1:
      dictionary1[s] += dictionary2[s]
    else:
      dictionary1[s] = dictionary2[s]
  return dictionary1

dictionary = merge_dictionaries(dictionary1, dictionary2)
print(dictionary)

{'a': 1, 'b': 5, 'c': 4}

In [24]:
#3. are anagrams
def are_anagrams(string1, string2):
  dictionary1 = {}
  dictionary2 = {}
  for c in string1:
    if c in dictionary1.keys():
      dictionary1[c] += 1
    else:
      dictionary1[c] = 1

  for c in string2:
    if c in dictionary2.keys():
      dictionary2[c] += 1
    else:
      dictionary2[c] = 1
  return dictionary1 == dictionary2

are_anagrams("listen", "silent")

True

In [4]:
def are_anagrams(string1, string2):
  return string1.split().sort() == string2.split().sort()

are_anagrams("listen", "silent")

True

In [25]:
#4. is palindrome
def is_palindrome(string):
  palindrome_string = ""
  for c in string:
    if c.isalpha():
      palindrome_string += c
  palindrome_string = palindrome_string.lower()
  return palindrome_string == palindrome_string[::-1]

is_palindrome("A man a plan a canal Panama")

True

In [5]:
#5. compress string
def compress_string(string):
  compressed_string = ""
  i = 0
  while i < len(string):
    char = string[i]
    count = 1
    i += 1
    if i >= len(string):
        break
    while char == string[i]:
      count += 1
      i += 1
      if i >= len(string):
        break
    compressed_string += char + str(count)
  if len(compressed_string) >= len(string):
    return string
  return compressed_string

compress_string("aabcccccaaa")

'a2b1c5a3'

In [44]:
#6. rotate list
def rotate_list(array, amount):
  rotated_list = array[-(amount%len(array)):]
  rotated_list.extend(array[:-(amount%len(array))])
  return rotated_list

rotate_list([1,2,3,4,5], 2)

[4, 5, 1, 2, 3]

In [8]:
#7. remove duplicates
def remove_duplicates(array):
  new_array = []
  for e in array:
    if e not in new_array:
      new_array.append(e)
  return new_array

remove_duplicates([1, 2, 2, 3, 4, 4, 5])

{1, 2, 3, 4, 5}